* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #a1eebd, #a0e2b9);
}


.contact-wrapper {
  width: 95%;
  max-width: 1100px;
  margin: 120px auto 60px auto; /* pushes content below navbar */
}


/* Logo */
.contact-logo {
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
}

.contact-logo img {
  width: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.contact-logo h2 {
  font-size: 22px;
}

/* Container */
.contact-container {
  background: #fff;
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 25px 50px rgba(0,0,0,0.3);
}

/* Contact Info */
.contact-info {
  background: #0f5c2c;
  color: #fff;
  padding: 40px;
}

.contact-info h3 {
  margin-bottom: 25px;
}

.contact-info p {
  margin-bottom: 15px;
  font-size: 15px;
}

.contact-info i {
  margin-right: 10px;
}

.contact-social {
  margin-top: 20px;
}

.contact-social a {
  margin-right: 15px;
  font-size: 18px;
  color: #fff;
  transition: 0.3s;
}

.contact-social a:hover {
  color: #9acb35;
}

/* Form */
.contact-form {
  padding: 40px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #15803d;
}

.contact-form button {
  width: 100%;
  padding: 12px;
  background: #15803d;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.contact-form button:hover {
  background: #0f5c2c;
}

#formMessage {
  margin-top: 10px;
  font-size: 14px;
}

/* Responsive */
@media(max-width: 900px){
  .contact-container {
    grid-template-columns: 1fr;
  }

  .contact-info {
    text-align: center;
  }
}
